In [32]:
import os 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf
import pandas_datareader as pdr

In [33]:
mark=pd.read_excel(r"S:\Markytics\Archive\List of Stocks case study (1).xlsx")

In [34]:
sym=mark.iloc[:,1]

In [35]:
sym # Symbols Contain Spaces

0      ACC
1      ADANIPORTS
2      ADANIENT
3      ADANIPOWER
4      AMBUJACEM
          ...
156    PVR
157    TATACHEM
158    TATAMOTORS
159    TATAMTRDVR
160    SUNTV
Name: SYMBOL    , Length: 161, dtype: object

In [36]:
# Removing Spaces
l1 = []  
for i in sym:
     s = i.split()[0]
     l1.append(s)

In [38]:
mark['SYM'] = l1

In [40]:
start=pd.datetime(2021,6,2) # 90 trading days prior

<ipython-input-40-1d1f3be6d956>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  start=pd.datetime(2021,6,2) # 90 trading days prior

In [41]:
end=pd.datetime.today()

<ipython-input-41-fc6a71f2f834>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  end=pd.datetime.today()

In [42]:
F=[i+'.NS' for i in mark['SYM']]

In [43]:
F.sort()

In [44]:
F.remove('NIITTECH.NS')

In [45]:
F.remove('TATAGLOBAL.NS')

In [46]:
F.remove('HEXAWARE.NS')

In [47]:
F.remove('INFRATEL.NS')

In [48]:
L=pdr.get_data_yahoo(F,start,end)['Close']

In [50]:
L=L.T

In [56]:
z=[i for i in range(1, len(L)+1)]

In [69]:
L['Index']=z # To remove .NS indexes

In [61]:
FF=[]
for i in F:
    FF.append(i[:-3])

In [63]:
L['Stocks']=FF

In [64]:
L.set_index('Index',inplace=True)

In [66]:
FFF=L.pop('Stocks')

In [78]:
L.insert(0,'Stock Name',FFF)

In [79]:
L

Date,Stock Name,2021-06-02 00:00:00,2021-06-03 00:00:00,2021-06-04 00:00:00,2021-06-07 00:00:00,2021-06-08 00:00:00,2021-06-09 00:00:00,2021-06-10 00:00:00,2021-06-11 00:00:00,2021-06-14 00:00:00,...,2021-09-28 00:00:00,2021-09-29 00:00:00,2021-09-30 00:00:00,2021-10-01 00:00:00,2021-10-04 00:00:00,2021-10-05 00:00:00,2021-10-06 00:00:00,2021-10-07 00:00:00,2021-10-08 00:00:00,Index
Index,,,,,,,,,,,,,,,,,,,,,
1,ACC,1997.099976,2027.349976,2009.900024,2045.949951,2042.650024,2004.400024,2030.300049,2024.500000,2040.550049,...,2300.250000,2271.100098,2254.500000,2237.500000,2265.649902,2263.699951,2203.250000,2265.850098,2240.899902,1
2,ADANIENT,1546.750000,1583.099976,1700.949951,1624.300049,1636.449951,1594.650024,1612.000000,1601.599976,1501.449951,...,1487.300049,1485.650024,1468.099976,1458.699951,1526.650024,1527.650024,1479.550049,1520.750000,1547.900024,2
3,ADANIPORTS,811.500000,825.299988,833.849976,878.599976,874.200012,852.599976,846.750000,839.750000,768.450012,...,738.700012,742.000000,737.900024,734.950012,744.200012,743.950012,724.000000,736.150024,739.900024,3
4,ADANIPOWER,96.400002,100.750000,105.750000,126.900002,151.750000,152.350006,154.100006,148.300003,140.899994,...,96.000000,98.300003,97.099998,96.949997,101.750000,106.500000,101.550003,101.949997,101.599998,4
5,AMARAJABAT,741.349976,752.799988,758.599976,760.500000,756.150024,755.049988,759.349976,757.349976,769.299988,...,753.349976,756.549988,749.799988,766.799988,766.049988,765.500000,749.700012,758.700012,760.000000,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,VEDL,275.200012,277.450012,280.850006,278.000000,273.049988,269.950012,271.549988,276.250000,273.899994,...,290.649994,292.149994,287.649994,285.850006,298.299988,303.000000,290.950012,290.799988,294.049988,153
154,VOLTAS,1034.400024,1111.550049,1104.449951,1096.800049,1071.599976,1046.000000,1055.199951,1046.150024,1043.050049,...,1208.949951,1205.199951,1218.050049,1215.250000,1227.250000,1250.250000,1229.900024,1283.000000,1281.400024,154
155,WIPRO,543.000000,539.049988,541.200012,548.250000,550.599976,544.200012,554.250000,554.299988,561.599976,...,639.599976,640.750000,634.099976,636.250000,641.049988,646.849976,635.750000,642.950012,661.150024,155
156,YESBANK,13.450000,13.500000,13.750000,15.050000,14.750000,14.200000,14.650000,14.400000,14.100000,...,12.750000,12.300000,12.550000,12.850000,13.100000,13.100000,13.050000,13.150000,13.200000,156
157,ZEEL,212.800003,219.600006,218.300003,217.600006,220.149994,216.550003,222.100006,220.500000,218.199997,...,309.149994,309.899994,303.200012,295.850006,301.250000,299.450012,294.700012,292.700012,294.649994,157

In [81]:
L.to_excel('MarkyticsSubmission.xlsx')